// colors
$background-color: #f4fefe;
$dark-green: #063231;
$active-link: #8bf0ef;
$btn-color-1: #084140;
$btn-color-2: #8bf0ef;
$background2: #8feec4;
$background3: #e8fbf3;
$error: #8a2e00;
$green: #116e45;
// padding

$padding: 1.5rem;
$margin2: 2rem;